<style>

	/* Display message styles */
	.message {
		padding: 2px 4px;
		margin-right: 10px;
		border-radius: 4px;
	}
	
	.information {
		color: #31708f;
		background-color: #E2EFF5;
		border: 1px solid;
	}

	.error {
		color: #c7254e;
		background-color: #f9f2f4;
		border: 1px solid;
	}
	
	.warning {
		color: #404033;
		background-color: #FDFDC0;
		border: 1px solid;		
	}
	
	.success {
		color: #3c763d;
		background-color: #dff0d8;
		border: 1px solid;
	}
	
	.shortcode {
		padding: 2px 4px;
		margin-right: 10px;
		border-radius: 4px;
		color: #000099;
		background-color: #f7f7f9;
		border: 1px solid;
	}	
	/* End display message styles */

	/* File management table styles */
	table.csv-files {
		width: inherit;
	}
	
	table.csv-files th.delete {
		text-align: left;
		padding-left: 10px;
	}
	
	table.csv-files td.delete {
		text-align: center;
		padding-left: 10px;
	}	
	/*  End file management table styles */
	
	input[type="text"] {
		width: 375px;
	}
	
	table{
		width:100%;
	}

	.tdleft {
		min-width:400px;
	}

	div.admin-form {
		border: 2px solid #ddd;
		border-radius: 6px;
		padding: 5px;
	}
	
	span.table-prefix {
		color: #D81515;
		font-size: 14px;
	}
	
	form p.label {
		margin-bottom: 0;
		font-weight: bold;
	}

	form.shortcodes-a {	
		padding: 5px;
	}
	
	form.shortcodes div {
		padding: 5px;
		margin: 0 10px 5px 0;
		border-radius: 4px;
		border: 1px solid rgb(163, 172, 187);
	}
	
	form.shortcodes input[type=submit] {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.hide {
		display: none;
	}
</style>